.mainDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 1rem;
}

.heading {
  font-size: min(2rem, 9dvw);
  margin-bottom: 0.25rem;
}

.preHeading {
  font-size: 1.25rem;
  margin-bottom: 0rem;
}

.headingSpan {
  color: var(--highlight);
}

.changePage {
  font-size: 1rem;
  margin-bottom: 1rem;
}
