.mainDiv {
  position: relative;
  min-height: 100dvh;
  max-width: 100dvw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.messages {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.buttonDiv {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  margin: 0.5rem;
}

.messageForm {
  position: absolute;
  width: fit-content;
  top: 0;
  display: none;
}
