.mainDiv {
  position: relative;
  min-height: 100dvh;
}

.buttonDiv {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  margin: 0.5rem;
}

.messageForm {
  position: absolute;
  width: fit-content;
  top: 0;
  display: none;
}
