.mainDiv {
  position: relative;
  min-height: 100dvh;
  max-width: 100dvw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .mainDiv {
    grid-template-columns: repeat(2, 200px);
    grid-auto-rows: 15dvh;
    grid-auto-columns: 200px;
  }
}

.buttonDiv {
  position: absolute;
  bottom: 3rem;
  right: 2rem;
  margin: 0.5rem;
}

.messageForm {
  position: absolute;
  width: fit-content;
  top: 0;
  display: none;
}
